.native-margin{

  margin: 20px;
}
.native-padding{
  padding: 50px;
}
.cashier-number{
font-size:5em;
padding: -10px;
}

.header-custom{
  padding: 10px;
}
.customlogin{
  padding-top: 5%;
}

.sac-logo{
  width: 80px;
  height: 50px;
  margin: 10px;
}
.loginform{
margin: 100px;
}
.maroon{
  background-color: #B1252B;
}
